* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #e0c3fc, #7c97da, #c08efc);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}
p {
  margin-bottom: 20%;
  text-align: center;
}
input {
  text-align: center;
  font-size: 1.75vh;
  background: none;
  border-radius: 8px;
  border-color: #000;
  border-width: 1.5px;
  box-shadow: 5px 5px #000;
}
.glass {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 50vh;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 10%;
}
::placeholder {
  color: #000;
}
/* Microsoft Edge */
::-ms-input-placeholder {
  color: #000;
}
.set_time {
  margin-bottom: 2vh;
  text-align: center;
  margin-top: 5vh;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
#name_event,
#time_to,
#submit_name {
  height: 3vh;
}
#time_to,
#submit_name {
  margin-left: 2vw;
}
#submit_name {
  background: none;
  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  border-radius: 8px;
  min-width: 4vw;
  width: 4vw;
  height: 3.5vh;
  box-shadow: 5px 5px #000;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
#time_left {
  position: fixed;
  margin-top: -25vh;
  font-size: 3vh;
}
.timer {
  padding: 2%;
}
.day,
.hour,
.minute,
.second {
  font-size: 7vh;
  text-align: center;
}

.caption {
  font-size: 2vh;
}

@media only screen and (max-width: 850px) {
  #submit_name {
    width: 6vw;
  }
  .day,
  .hour,
  .minute,
  .second {
    font-size: 5.75vh;
  }
}
@media only screen and (max-width: 1300px) {
  .glass {
    width: 65vw;
  }
}
@media only screen and (max-width: 912px) {
  .glass {
    width: 95vw;
  }
  .input {
    display: grid;
  }
  #name_event,
  #time_to {
    margin-bottom: 10%;
  }
  #name_event,
  #time_to {
    width: 40vw;
    margin-left: 1.5%;
  }
  #submit_name {
    margin-left: 80%;
  }
  #time_left {
    margin-top: -23vh;
  }
  .timer {
    margin-top: -5vh;
  }
}
/*#region gradientAnimation*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes background {
  0% {
    right: 0%;
  }
  50% {
    right: 50%;
  }
  75% {
    left: 50%;
  }
  100% {
    right: 100%;
  }
}
/*#endregion gradientAnimation*/
/*#region bcgAnimation*/
.circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*#endregion ABC*/
